
h4.btn_txt_home{
    color: white;
}

h4.btn_txt_works, h4.btn_txt_about{
    color: #AE93D1;
}

section#welcome{
    margin-top:30pt;
    background-color:#AE93D1;
}

div#welcome_container{
    padding:100pt 0;
}

#mottos, #welcome_sentence{
    text-align: center;
    margin: 0 8vw;
}

h1.motto_l{
    font-family: hiragino, "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 4vw;
    margin:0;
    color:white;
    white-space: nowrap;
}

h3.motto_s{
    margin-top:-0.7vw;
    margin-left:-1.9vw;
    font-family: century_gothic_B;
    font-size: 2.75vw;
    color:white;
}

h3#welcome_sentence{
    font-family: century_gothic;
    font-size: 14pt;
    margin-top:30pt;
    line-height: 20pt;
    color:white;
}

span#my_name{
    font-family: century_gothic_BI;
    font-size:16pt;
    white-space: nowrap;
}

section#all_best_works{
    margin-top: 55pt;
    margin-left:10vw;
    margin-right:10vw;
}

section#all_categories{
    margin-top: 50pt;
    margin-left:10vw;
    margin-right:10vw;
}

div.round_img_container{
    margin: 15pt;
}

div.content_container{
    max-width: 950pt;
}

div.two_rounds_container{
    display:inline-block;
    margin:0;
}

div.project_round_div{
    width:140pt;
    height:140pt;
}

div.categories{
    width:168pt;
    height:168pt;
    text-align: center;
    border-style: solid;
    border-width: 1pt;
    border-color:#AE93D1;
}

h5.category_text{
    margin-top:78pt;
    margin-left:5pt;
    margin-right:5pt;
    font-family: century_gothic;
    color:#AE93D1;
    font-size: 12pt;
}





@media all and (max-width: 620px){

    section#open_animation{
        width:180%;
        position:fixed;
        top:0;
        margin-left:-40%;
    }

    div#welcome_container{
        padding:60pt 0;
    }

    h1.motto_l{
        font-size: 16pt;
    }
    
    h3.motto_s{
        font-size: 11pt;
        color:white;
    }

    h3#welcome_sentence{
        font-size: 10pt;
        margin-top:30pt;
        line-height: 12pt;
    }
    
    span#my_name{
        font-size:11pt;
    }

    section#all_best_works{
        margin-top: 30pt;
    }

    div.project_round_div{
        width:110pt;
        height:110pt;
    }

    div.categories{
        width:138pt;
        height:138pt;
    }

    h2.home_titles{
        font-size:16pt;
    }

    h5.category_text{
        font-size: 10pt;
        margin-top:65pt;
    }
}
