section.project_intro{
    background-color: #f6833f;
}

div.self_main_logo_container{
    width:220pt;
    margin-top:45pt;
    margin-bottom:45pt;
}

img.self_sub_logos{
    max-width:650pt;
}

div.self_branding_pattern_deco{
    width:300pt;
    vertical-align:12pt;
}

div.sub_logos_container{
    padding-bottom:40pt;
}

div.sub_paragraphs_container{
    max-width:320pt;
    margin-top:20pt;
    margin-bottom:20pt;
    margin-right:20pt;
}

div.pics_wrap{
    width:100%;
}

div.big_pic_container, .small_pics_wrap{
    max-width:700pt;
}

div.stationeries_container_1{
    margin-top:20pt;
    margin-bottom:10pt;
}

div.stationeries_container_2{
    margin-bottom:40pt;
}

div.self_branding_poster_container{
    width:200pt;
    margin:0 5pt;
}








@media all and (max-width: 1180px){
    div.self_branding_pattern_deco{
        display:none;
    }

    div.sub_paragraphs_container{
        max-width:400pt;
        margin-top:20pt;
        margin-bottom:20pt;
    }
    
}







@media all and (max-width: 620px){

    div.self_main_logo_container{
        width:150pt;
    }

    div.sub_logos_container{
        padding-left:20pt;
        padding-right:20pt;
        padding-bottom:20pt;
    }

    div.stationeries_container_1{
        margin-top:10pt;
        margin-bottom:5pt;
    }
    
    div.stationeries_container_2{
        margin-bottom:30pt;
    }

    div.self_branding_poster_container{
        width:130pt;
    }
}

